<div class="map rpgui-content framed-golden" style="width: 100%; height: 100%">
    <div class="rpgui-container framed rpgui-center">
        <div style="width:42%; float:left;">
            <div>
                <img src="https://img.cryptokitties.co/0x06012c8cf97bead5deae237070f9587f8e7a266d/1070340.png" style="width: 250px; height: 250px">
            </div>
            <h2>Class:</h2>
            <h1> Barbarian</h1><h2>Raze:</h2>
            <h1>Human </h1>
            <h2>Bio:</h2>
            <h1>Cursed by an ancient god, once an elite barbarian, he is now a cat.</h1>
        </div>

        <div style="width:42%; float:right;">
            <div class=" framed rpgui-center">
                <h1>Exp : 970</h1>
                <h1>Gold : 5 Pz</h1>
                <h1>HP: 10/16</h1>
                <div id="hp-bar" data-value="0.9" class="rpgui-progress red" data-rpguitype="progress">
                    <div class=" rpgui-progress-track">
                    <div class=" rpgui-progress-fill red" style="left: 0px; width: 80%;">
                    </div>
                    </div>
                    <div class=" rpgui-progress-left-edge">
                    </div><div class=" rpgui-progress-right-edge"></div></div>
            </div>
            <br><br>

            <div class="rpgui-center">
                <div class="rpgui-icon rpgui sword"></div>
                <div class="rpgui-icon rpgui shield"></div>
                <div class="rpgui-icon rpgui exclamation"></div>
                <br><br>

                <div class="rpgui-icon rpgui potion-red"></div>
                <br><br>
            </div>
<h2>Gear:</h2>
            <div class="rpgui-center">
                <div class="rpgui-icon rpgui-disabled weapon-slot"></div>
                <div class="rpgui-icon rpgui-disabled shield-slot"></div>
                <div class="rpgui-icon rpgui-disabled armor-slot"></div>
                <br><br>

                <div class="rpgui-icon rpgui-disabled helmet-slot"></div>
                <div class="rpgui-icon rpgui-disabled ring-slot"></div>
                <div class="rpgui-icon rpgui-disabled potion-slot"></div>
                <br><br>

                <div class="rpgui-icon rpgui-disabled shoes-slot"></div>
                <div class="rpgui-icon rpgui-disabled empty-slot"></div>
                <br><br>
            </div>

        </div>

</div>

</div>
