<div class="nes-container with-title is-centered">
    <p class="title">Funky crocs</p>
    <div class="nes-container is-dark with-title is-centered">
        <p class="title">FNK</p>
        <img src="https://storage.googleapis.com/funkycrocs/608d8d9d36282f580aad05d4d0fe8cccdb03c2f2"
             style="width: 30%">
        <h4> Amount: 1</h4>
        <h4> Hash: d69bace74bf004ca25bf7cb53835f0c2</h4>
        <h4> Ammount: 1</h4>
        <h4> Token ID: 21</h4>
        <h4> Contract Type: "ERC721"</h4>
    </div>

    <h4> Social media :</h4>
    <i class="nes-icon twitter is-medium"></i>
    <i class="nes-icon instagram is-medium"></i>

    <p> </p>

    <h3>Status </h3>

    Owned by 460
    <p>
        Doesn't tweet in long time
    </p>
    <a href="#" class="nes-badge is-splited">
        <span class="is-dark">legit</span>
        <span class="is-warning">60%</span>
    </a>
</div>